@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');



:root{
  --Lightred: hsl(353, 100%, 62%);
  --Verylightred: hsl(13, 100%, 72%);
  --Verydarkblue: hsl(208, 49%, 24%);
  --White: hsl(0, 0%, 100%);
  --Grayishblue: hsl(240, 2%, 79%);
  --Verydarkgrayishblue: hsl(207, 13%, 34%);
  --Verydarkblackblue: hsl(240, 10%, 16%);
}

html,body{
  margin: 0;
  height: 100%;
  overflow-x: hidden
}

*{
  font-size: 16px;
  box-sizing: border-box;
}


/* Navbar */

header{
  background-image: url(../images/bg-pattern-intro-desktop.svg), linear-gradient(to right, var(--Verylightred), var(--Lightred));
  background-position: 15% 49% , center;
  background-size: 200%, 100%;
  background-repeat: no-repeat;
  height: 70vh;
  border-bottom-left-radius: 100px;
  
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 40px;
}

.left-nav{
  display: flex;
  flex-direction: row;
}
.navlink{
  list-style-type: none;
  display: flex;
  gap: 35px;
}
.link a{
  text-decoration: none;
  color: var(--White);
}

.right-nav{
  gap: 25px;
  display: flex;
  flex-direction: row;
}


.sign, .login{
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

.login{
  color: var(--White);
}


.sign{
  color: var(--Lightred);
  background-color: var(--White);
  border: none;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
}

.title{
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 50%;
  font-family: 'Overpass', sans-serif;
  color: var(--White);
  font-weight: 400;

}

.header h1{
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 10px;
}

.header-btn{
  margin-top: 30px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.header-btn button{
  border-radius: 30px;
  padding: 15px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}


.startbtn{
  background-color: var(--White);
  border: none;
  color: var(--Lightred);
}

.learnbtn{
  background-color: transparent;
  border: 2px solid var(--White);
  color: var(--White);
}


/* Content */

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.first{
  font-family: 'Overpass', sans-serif;
  height: 100%;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.first h2{
  font-size: 40px;
  color: var(--Verydarkblue);
}

.first-con{
  margin-left: 10vw;
  width: 26.5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 150px;
}

.first-con h3{
  font-size: 25px;
  color: var(--Verydarkblue);
  text-align: left;
}

.first-con p{
  text-align: left;
  color: var(--Verydarkgrayishblue);
  line-height: 1.6rem;
}

.first img{
  width: 55%;
  position: relative;
  right: -290px;
  top: -110px;
}

.insidefirst {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Second */

.second{
  background-color: var(--Verydarkgrayishblue);
  height: 45vh;
  width: 100%;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Overpass', sans-serif;
  gap: 100px;
  color: var(--White);
}

.second img{
  position: relative;
  top: 20px;
}

.second-con{
  width: 29%;
}


.second-con h3{
  font-size: 40px;
  margin-bottom: 0;
}


.second-con p{
  line-height: 1.6rem;
}


.third{
  height: 100%;
  margin-top: 100px;

}

.third-con{
  display: flex;
  flex-direction: row;
}

.third-con img{
  width: 80%;
  position: relative;
  left: -275px;
}

.third-con-para{
  margin-right: 20%;
  margin-top: 150px;
}

.third-con-para-one, .third-con-para-two{
  line-height: 1.8rem;
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  margin-right: 50px;
  color: var(--Verydarkblue);
}

.third-con-para-one h3, .third-con-para-two h3{ 
  font-size: 30px;
}

.third-con-para-two{
  margin-top: 50px;
}


/* Footer */

footer{
  background-color: var(--Verydarkblackblue);
  width: 100%;
  height: 40vh;
  border-top-right-radius: 100px;
  display: flex;
  flex-direction: row;
  color: var(--White);
  justify-content: space-evenly;
  padding-top: 70px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

.Product{
  text-align: left;
}
.Product ul,.Company ul,.Connect ul{
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin-top: 30px;
}

.Product ul li,.Company ul li,.Connect ul li{
  font-weight: 400;
  margin-top: 20px;
  color: var(--Grayishblue);
}